@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Boldonse", system-ui;

    background-color: #26f7cd;
}

#big-container {
    background-color: #00c29b;
    border-radius: 15px;
    padding: 30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#title {
    display: flex;
    justify-content: center;

    color: yellow;
    font-size: 50px;
    font-weight: bold;
}

#bottom {
    display: flex;
    gap: 10px;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#settings button {
    border: 1px solid #009973;
    border-radius: 5px;
    background: none;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

#color-selector {
    border: none;
    background: none;
    width: 50px;
}

#dimensions {
    box-sizing: border-box;
    width: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: white;
}

.row {
    flex: 1;

    display: flex;
}

.pixel {
    flex: 1;
    border: 1px solid lightgrey;
}

.pixel:hover {
    outline: 2px solid red;
    z-index: 0;
}