* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #26f7cd;
}

#big-container {
    background-color: #00c29b;
    border-radius: 15px;
    padding: 30px;
    padding-right: 10px;
    display: flex;
    gap: 10px;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#color-selector {
    border: none;
    background: none;
    width: 50px;
}

#dimensions {
    box-sizing: border-box;
    width: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: white;
}

.row {
    flex: 1;

    display: flex;
}

.pixel {
    flex: 1;
    border: 1px solid lightgrey;
}